* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(46, 46, 46);
    text-align: center;
}

.vid {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
}

.header {
    height: 100vh;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header h1 {
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: yellow;
    font-style: bold;
    letter-spacing: 2px;
}

h4 {
    text-align: center;
}

img {
    align-items: center;
}